<div class="twelve columns">

  <div class="row">

      <hgroup class="center-text">
        <h1>Sarger</h1>
        <p>Overcome approach anxiety</p>
      </hgroup>

      <% if temp_signed_in? %>
        <p>Welcome, <%= current_temp.name %> (signed in as a guest)</p>
      <% end %>

    <%= link_to "Start the Game", "/challenges", :class => "button nice green" %>

    <% if temp_signed_in? %>
      <p><%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
    <% end %>
  </div>

</div>

