<div class="container home main-content">
  
    <div class="row">

      <div class="twelve columns">

        <div class="row">
          <hgroup class="center-text">
            <h1>Sarger</h1>
            <p>Overcome approach anxiety</p>
          </hgroup>
        </div>
  
        <%= link_to "Start the Game", "challenges#index", :class => "button" %>
  
      </div>

    </div>

</div>
