<div class="twelve columns">

  <div class="row">

      <hgroup class="center-text">
        <h1>Sarger</h1>
        <p>Overcome approach anxiety</p>
      </hgroup>

    <%= link_to "Start the Game", "/challenges", :class => "button" %>

    <br>
    <br>
    <br>
    <% if user_signed_in? %>>
    Welcome, <%= current_user.name %>
    Link for logout!
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>

</div>

