<div class="row">

  <div class="twelve columns">

    <div class="row">

      <hgroup class="center-text">
        <h1 class="logo"><%= image_tag("sarger-logo.png", :alt => "Sarger") %></h1>
        <h2>Overcome approach anxiety!</h2>
      </hgroup>

      <div class="panel">

        <% if temp_signed_in? %>
          <p>Welcome, <%= current_temp.name %> (signed in as a guest)</p>
        <% end %>

        <% if temp_signed_in? %>
          <p><%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
        <% end %>

      </div>

    </div>

  </div>

  <footer class="main-footer">
    <div class="row">
      <%= link_to "Start the Game", "/challenges", :class => "button nice green" %>
    </div>
  </footer>

</div>