<div class="row content-top-offset">

  <div class="twelve columns">

    <div class="row">

      <div class="sides-offset title-a">

        <h3>Everything is completed. You can get some champagne</h3>
        
      </div> <!-- /sides-offset -->  

      <div class="sides-offset">

      <%= link_to "Back to Challenges", challenges_path, :class => "button nice green" %>

      </div>

    </div>

  </div>

</div>
