
<% if in?  %>

    <div class="complete_<%= ch.id %>">

    <% if current_guy.can_complete?(ch) %>

      <%	url= "/complete/" +  ch.id.to_s	%>
      <%= form_for(ch, :url => url,
                   html: { method: :post }, class: 'complete_form',
                   remote: true) do |f| %>
          <% if current_guy.complete?(ch) then %>
          <%= f.submit "Undo", class: "button white nice small" %>
          <% else %>
              <%= f.submit "Complete", class: "button nice small" %>
          <% end %>
      <% end %>

    <% else %>
       You need to complete challenges
    <% end %>

    </div>

<% end %>
