html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
.center-text {
  text-align: center;
}
#notice {
  margin: 0;
}
body .sides-offset {
  padding-left: 5%;
  padding-right: 5%;
}
.main-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  
  &.container {
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.style-green {
  background: #D6FC57;
}
.auth-stuff {
  p {
    font-size: 18px;
  }
}
.challenge-list {
  border-top: 1px solid rgba(0, 0, 0, .1);
  li {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 5%;
    margin: 0;
    min-height: 62px;
    .task-number {
      position: absolute;
      left: 5px;
      top: 10px;
      background: white;
      border-radius: 15px;
      box-shadow: 0 1px 0 rgba(0,0,0,.5);
      width: 30px;
      height: 30px;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      color: gray;
    }
  }
  p {
    font-size: 18px;
    margin: 0 0 5px;
    &.desc {
      margin: 12px 0 5px;
    }
  }
  .status {
    font-size: 16px;
  }
  li:first-child {
    .desc {
      font-size: 2.1em;
      margin: 5px 0 10px;
      line-height: 1em;
    }
  }
  
}
.challenge-list li.clickable:active {
  background: #444;
  p, h3 a {
    color: #fff;
  }
}
.title-a {
  background: #444;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .6);
  h3 {
    color: #fff;
    margin: 0;
    font-size: 2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .6);
  }
}

input[type=text], input[type=email], input[type=password] {
  font-family: Helvetica, Arial, sans-serif;
  width: 96%;
  height: 30px;
  padding: 4px 2%;
  font-size: 1.8em;
  border-radius: 5px;
  border: 1px solid #a7d804;
}
input[type=checkbox] {
  float: left;
  margin-right: 4px;
}
h1.logo {
  margin: 20px 0 0;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #5B8737;
  text-shadow: 0 1px 0 rgba(255,255,255,.8)
}
.home-index {
  .main-header {
    display: none;
  }
  .main-content {
    background-image: url(couple.png);
    background-repeat: no-repeat;
    background-position: center 70px;
  }
  .go-back {
    display: none;
  }
}
.main-header {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 5% 10px;
  color: white;
  z-index: 100;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  background: #74ba73; /* Old browsers */
  background: -moz-linear-gradient(top,  #74ba73 0%, #4fd14d 17%, #52b152 50%, #008a00 50%, #005700 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74ba73), color-stop(17%,#4fd14d), color-stop(50%,#52b152), color-stop(50%,#008a00), color-stop(99%,#005700)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #74ba73 0%,#4fd14d 17%,#52b152 50%,#008a00 50%,#005700 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #74ba73 0%,#4fd14d 17%,#52b152 50%,#008a00 50%,#005700 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #74ba73 0%,#4fd14d 17%,#52b152 50%,#008a00 50%,#005700 99%); /* IE10+ */
  background: linear-gradient(top,  #74ba73 0%,#4fd14d 17%,#52b152 50%,#008a00 50%,#005700 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74ba73', endColorstr='#005700',GradientType=0 ); /* IE6-9 */
  
  .bar-button {
    background: #004d00;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    &.left {
      position: absolute;
      left: 5%;
      top: 10px;
    }
  }
  .page-title {
    display: inline-block;
    vertical-align: middle;
    color: #D6FC57;
    font-size: 1.2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .6);
  }
}
.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5% 10px;
  z-index: 100;
}
.content-top-offset {
  padding-top: 50px;
}


/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  
  form .row label {
    display: none;
  }
  form label {
    font-size: 17px;
  }
  form .row {
    margin-bottom: 20px;
  }
  button.button, input[type="submit"].button,
  a.button {
    font-size: 1.6em;
  }
  .button.half {
    width: 37%;
    float: left;
    &.right-half {
      margin-left: 2%;
    }
  }
  .challenge-list {
    li {
      input.button {
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: 40%;
      }
    }
  } 
  
}