html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
.center-text {
  text-align: center;
}
body .sides-offset {
  padding-left: 5%;
  padding-right: 5%;
}
.main-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  
  &.container {
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}
.style-green {
  background: #D6FC57;
}
.challenge-list {
  li {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 0 5%;
  }
}
.challenge-list li:active {
  background: #444;
  p, h3 a {
    color: #fff;
  }
}

input[type=text], input[type=email], input[type=password] {
  font-family: Helvetica, Arial, sans-serif;
  width: 96%;
  height: 30px;
  padding: 4px 2%;
  font-size: 1.8em;
  border-radius: 5px;
  border: 1px solid #a7d804;
}
input[type=checkbox] {
  float: left;
  margin-right: 4px;
}
h1.logo {
  margin: 20px 0 0;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #5B8737;
  text-shadow: 0 1px 0 rgba(255,255,255,.8)
}
.home-index {
  .main-content {
    background-image: url(couple.png);
    background-repeat: no-repeat;
    background-position: center 70px;
  }
  .main-header {
    .go-back {
      display: none;
    }
  }
}
.main-header {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 5% 10px;
  background: green;
  color: white;
  z-index: 100;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  
  .bar-button {
    background: #004d00;
    padding: 7px;
    &.left {
      position: absolute;
      left: 5%;
      top: 10px;
    }
  }
}
.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5% 10px;
  z-index: 100;
}
.content-top-offset {
  padding-top: 60px;
}


/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  
  form .row label {
    display: none;
  }
  form label {
    font-size: 17px;
  }
  form .row {
    margin-bottom: 20px;
  }
  button.button, input[type="submit"].button,
  a.button {
    font-size: 1.6em;
  }
  .challenge-list {
    li {
      input.button {
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: 40%;
      }
    }
  } 
  
}