html, body {
  height: 100%;
  margin: 0;
}
body {
}
.center-text {
  text-align: center;
}
.main-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
.home {
  background: #D6FC57;
}